.mx_HomePage_default_wrapper {
    img {
        height: 200px !important;
        width: 200px !important;
    }
}

.mx_UserSettingsDialog {
    .mx_TabbedView_tabLabels > div:first-of-type {
        display: none;
    }
}

.mx_UserMenu_contextMenu {
    // hide all settings
    .mx_IconizedContextMenu_optionList > div:nth-of-type(3) {
        display: none;
    }

    // hide feedback
    .mx_IconizedContextMenu_optionList > div:nth-of-type(4) {
        display: none;
    }
}

// Hide the desktop app notice on search
.mx_DesktopBuildsNotice {
    display: none;
}
